 
@font-face {
  font-family: 'SF UI Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold'), url('Sources/SFUIText-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Light';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light'), url('Sources/SFUIText-Light.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium'), url('Sources/SFUIText-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy'), url('Sources/SFUIText-Heavy.woff') format('woff');
}

#headboard {background:  #192E57;
  border: 2px solid silver;
  display:flex;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  margin: 0 auto;
}
 
.headboard1 {
  display:flex;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-self:center;
  padding:0px 50px;
  margin: 0 auto;
}

#header1{background:  #182A50;
  width: 10%;
  align-self:center;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  display: flex;
  height: 60px;
  padding:0px 50px              
}
 
#header31{border-left: 2px solid black;}

#header3{
  width: 140px;
  align-self:center;
  height:60px;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding:0px 5px
}

#header4{
  width: 80%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  color: #99A1B5;
}
 
#header6{
  width: 80px;
  align-self:center;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0px;
}
 
#header7{
  width: 80px;
  align-self:center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0px;
}
 
#header6 input{
  color: white;
  border-radius: 8px;
  padding: 8px 10px;
}
 
#header7 input{
  color: white;
  background:#192E57;
  border-radius: 8px;
  padding: 8px 10px;
}
 
input{
  color: white;
  background:#395FC6;
  border-radius: 20px;
  padding: 8px 10px;
  outline: none;
}
 
#botom1 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom1 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send11 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send1 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom2 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom2 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send22 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send2 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom3 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom3 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send33 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send3 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom4 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom4 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send44 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send4 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom5 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom5 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send55 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send5 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom6 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom6 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send66 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send6 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom7 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom7 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send77 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send7 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom8 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom8 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send88 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send8 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom9 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom9 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send99 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send9 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom10 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom10 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send101 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send10 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom11 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom11 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send111 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send13 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}

#botom12 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#botom12 input {color: black;
  background:white;
  border-radius: 15px;
  font-family: 'SF UI Text Bold';
  font-size: 10px;
  box-shadow: 0 0 0 1.5px silver;
  outline: none;
  border: 0px 
}
   
#send121 {display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}   
  
#send12 {display:flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction:row;
  flex-wrap:wrap;
}
#header1 p {color: white; font-size: 25px;}
 
#header3 p {color:white; 
  line-height: 20%;}

#header4 p {color: #99A1B5;font-size: 20px;font-family: 'SF UI Text Light';}

p { color: #363642;
  font-size: 15px;
  font-family: 'SF UI Text Light';
}

h3 {font-size: 20px;
 font-family: 'SF UI Text Light';
} 

.card h3 {line-height: 20%;}

.card p {line-height: 30%;}

#container {
  font: 20px serif;
  width: 100%;
  display:flex;
  flex:none;
  flex-direction:column;
  background:white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#main-sidebar{
  width: 100%;
  display:flex;
  align-self:center;
  flex:none;
}

#headboard1 { width: 1400px;
  height:60px;
  align-self:center;
}

#content {background:#eaeef4;
  display:flex;
  width: 90%;
  height: 900px;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  padding:30px 5px;
}

#main{background:#dce1e9;
  width: 16%;  
  padding:40px 5px;
  text-align: left;
}
 
#main1 a {color:#395FC6;}

#main1{
  width: 200px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}
   
#main2{
  width: 200px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

#main21{padding-right: 20px;
  padding-top:7px;}
   
#main3{
  width: 200px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

#main31{padding-right: 20px;
  padding-top:7px;}
      
#main4{
  width: 200px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

#main41{padding-right: 20px;
  padding-top:7px;}
   
#main12{padding-right: 20px;
padding-top:7px;}
   
a {text-decoration: none;
  font-size: 15px;
  font-family: 'SF UI Text Light';
  color: #363642;
  float: left;
  clear: left;
  padding: 4px;
  padding-top:7px;
}

#main14{color: #395FC6;}

.sidebar1{border: 1px solid silver;
  background: white;
  width: 22%; 
  height:200px;
  padding:30px 8px;
  align-items: center;
  margin: 10px 5px;
  justify-content: center;
  text-align: center;
  align-self:center; 
}
 
.image {
  width:70px;
  height:70px;
  border-radius:150px;
}
 
#header31 .image {width:40px;
  height:40px;
  border-radius:150px;
  padding:10px 10px;
}
  
#header32{
  display:flex;
  width: 80%;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-self:center;
  margin: 0 auto;
  border-right: 0px;
}

#header41{padding-right: 5px;}

#header33 input {width:50px;
 height:20px;
 padding:0px 0px;
 margin: 10px auto;
 color:black;
 border-radius: 5px;
 font-family: 'SF UI Text Light';
 background:white;
 font-size: 15px;
}

.card {
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: unset;
}
