.footer {
     background-color: #FCF9D7;
     margin-top: 1em;
     margin-bottom: 3em;
}
 
.hear{
   width: 1200px;
   height: 300px;
   margin: 0 auto;
   margin-top: 25%;
   margin-bottom: 25%;
}
 
.hear1{
  width: 600px;
  margin: 0 auto;
}
 
h1{background-color: white;
   color: #787878;
   border: white;
   width: 130px;
   margin: 0 auto;
   margin-top: 10px;
}
 
h5{color: #787878;
  margin-top: 30px;
}
 
.input-error {color: #c65353;
 border-color: #c65353;
 text-align: center;
 align-items: center;
 width: 100%;
}
 
#boton-information {background-color: #46b02c;
   color: white;
   border-color: #46b02c;
   text-align: center;
   align-items: center;
   width: 100%;
}
 
#input-changen {color: #46b02c;
   border-color: #46b02c;
   text-align: center;
   align-items: center;
   width: 100%; 
   margin-top: 25px;
}
 
#hour { color: #46b02c;}
 
#minute { color: #46b02c;}
 